.login {
    background-color: #27BAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFF;
    padding: 30px;
}